head { text-align: center; }

body { margin: 60px auto; width: 70%; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { text-align: center; }

nav { text-align: center; }
nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }
footer { text-align:center; border-top: 1px solid #d5d5d5; font-size: .8em; }

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.3em; }
ul.posts li { list-style: none; }