<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

<h1><a href="/">Tomás Fartaria</a></h1>

<hr/>

<div class="container">

    {{ content }}

</div><!-- /.container -->
<footer>
    <ul>
        <li><a href="mailto:fartaria.tomas@gmail.com">email me</a></li>
        <li><a href="https://github.com/fartariatomas">check my github</a></li>
    </ul>
</footer>
</body>
</html>
